*{
    padding: 0;
    margin:0;
    background-color: black;
    color: white;
}

.navbar-brand{
    font-size: 20px;
}
div a{
    text-decoration: none;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 5px;
    margin-right: 40px;
}


/* Landing Section */

.landingSec{
    height: 70vh;
}


.landingSec a img{
    background-color: white;
    height: 18px;
}


/*  */
