*{
    padding: 0;
    margin:0;
    background-color: black;
    color: white;
}

.navbar-brand{
    font-size: 20px;
}
div a{
    text-decoration: none;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 5px;
    
}
